vesktop/.config/vesktop/sessionData/
vesktop/.config/vesktop/Crashpad/
vesktop/.config/vesktop/SingletonCookie
vesktop/.config/vesktop/SingletonLock
vesktop/.config/vesktop/SingletonSocket
lazygit/.config/lazygit/state.yml
nvim/.config/nvim/lazy/
.DS_Store
